* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_container {
  width: 50%;
  height: 100%;
}
.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cool {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cool h3 {
  font-size: 20px;
  text-align: center;
  margin: 8px;
}

.cool h6 {
  font-size: 15px;
  text-align: center;
  margin: 8px;
}

.cool input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 50px;
  padding-left: 6px;
  font-size: 15px;

  border-radius: 6px;
  margin: 18px;
}

.cool button {
  width: 350px;
  height: 50px;
  margin: 18px;
  font-size: 15px;
  border: none;
  background-color: blue;
  color: whitesmoke;
  border-radius: 6px;
}
